{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OINVE | Orders</title>
    <link rel="stylesheet" href="{%static 'css/starter.css' %}">
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
</head>
<body>
    {% include 'template_loader.html' %}
    {% include 'template_header.html' %}
    <div class="links-container">
        <ul class="links">
            <li><a href="/admin_home">Home</a></li>
            <li><a href="/add_staff">Add Staff</a></li>
            <li><a href="/manage_staff">Manage Staff</a></li>
            <li><a href="/add_supplier">Add Supplier</a></li>
            <li><a href="/manage_supplier">Manage Supplier</a></li>
            <li><a href="/add_product">Add Product</a></li>
            <li><a href="/manage_product">Manage Product</a></li>
            <li class="active"><a href="/order">Orders</a></li>
            <li><a href="/delivery">Delivery</a></li>
        </ul>
    </div>
    {% include 'template_icon.html' %}
    <section>
        <div class="ttle">
            <h3>Orders</h3>
        </div>
        <div class="content-container">
            <div class="search-container">
                <div class="form-search">
                    <form action="">
                        <input type="search" name="search" placeholder="Order Number">
                        <button type="submit" class="btn">search</button>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Paid Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#amount</td>
                        <td>#status</td>
                        <td><a href="#">Approve</a>&nbsp;&nbsp;&nbsp;<a href="#">Decline</a></td>
                    </tr>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#amount</td>
                        <td>#status</td>
                        <td><a href="#">Approve</a>&nbsp;&nbsp;&nbsp;<a href="#">Decline</a></td>
                    </tr>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#amount</td>
                        <td>#status</td>
                        <td><a href="#">Approve</a>&nbsp;&nbsp;&nbsp;<a href="#">Decline</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    {% include 'template_footer.html' %}

    <script src="{%static 'js/starter.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
</body>
</html>