<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OINVE | Products</title>
    <link rel="stylesheet" href="css/starter.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="loader" id="loader">
        <div class="load"></div>
        <div class="load-text">Loading....</div>
    </div>
    <header>
        <div class="logo-container">
            <img src="images/single.png" alt="">
        </div>
        <div class="title-container">
            <h1><span>i</span>nventory <span>s</span>ystem</h1>
        </div>
        <div class="profile">
            <img src="images/user2.png" alt="">
            <p>Welcome, Admin &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Logout</a></p>
        </div>
    </header>
    <div class="links-container">
        <ul class="links">
            <li><a href="cachier_template.html">Sell</a></li>
            <li class="active"><a href="product_template.html">Products</a></li>
        </ul>
    </div>
    <div class="icon-container">
        <img src="images/inventory.jpg" alt="">
    </div>
    <section>
        <div class="ttle">
            <h3>Product in Stock</h3>
        </div>
        <div class="content-container">
            <div class="search-container">
                <div class="form-search">
                    <form action="">
                        <input type="search" name="search" placeholder="Product Name">
                        <button type="submit" class="btn">search</button>
                    </form>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#price</td>
                    </tr>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#price</td>
                    </tr>
                    <tr>
                        <td>#id</td>
                        <td>#name</td>
                        <td>#category</td>
                        <td>#quantity</td>
                        <td>#price</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <p>&copy; 2021 Invetory System</p>
        </div>
        <div class="developer">
            <p>Developer OmmyKmathy-Deno</p>
        </div>
    </footer>

    <script src="js/starter.js"></script>
    <script src="js/main.js"></script>
</body>
</html>